.addBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.addInput {
    width: 40%;
    padding: 1.5rem 3rem;
    border-radius: 1.6rem;
    border: none;
    outline: none;
    background: #38404B;
    box-shadow: 3px 3px 8px 0px rgba(46, 53, 62, 0.90) inset, -3px -3px 6px 0px rgba(66, 75, 88, 0.90) inset, 3px -3px 6px 0px rgba(46, 53, 62, 0.20) inset, -3px 3px 6px 0px rgba(46, 53, 62, 0.20) inset, -1px -1px 2px 0px rgba(46, 53, 62, 0.50),
        1px 1px 2px 0px rgba(66, 75, 88, 0.30);

    color: rgba(148, 173, 207, 0.70);
    font-family: Ubuntu;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.addInput:active {
    border: none;
}

.addInput::placeholder {
    color: #94ADCFB2;
}

.add-icon {
    font-size: 2.2rem;
    color: #94ADCFB2;
    margin-left: -7rem;
    cursor: pointer;
}