.tasks {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
    cursor: pointer;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* justify-content: center; */
    width: 35rem;
    padding: 1.9rem;
    flex-shrink: 0;
    border-radius: 1.6rem;
    background: #38404B;
    box-shadow: 5px 5px 13px 0px rgba(48, 54, 64, 0.90), -5px -5px 10px 0px rgba(64, 74, 86, 0.90), 5px -5px 10px 0px rgba(48, 54, 64, 0.20), -5px 5px 10px 0px rgba(48, 54, 64, 0.20), -1px -1px 2px 0px rgba(48, 54, 64, 0.50) inset, 1px 1px 2px 0px rgba(64, 74, 86, 0.30) inset;
    color: #94ADCF;
}

.task-main {
    display: flex;
    /* align-items: center; */
}

.task-text {
    font-family: Ubuntu;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.dot {
    margin-right: 2.5rem;
    font-size: 2.2rem;
}

.delete {
    font-size: 2.2rem;
}